.viewPicker {
    border-bottom: 5px solid var(--mantine-color-blue-8);
    padding-bottom: 6px;
    border-radius: 8px;
}

.viewPicker:hover {
    background-color: light-dark(var(--mantine-color-beige-1), var(--mantine-color-dark-7));
}
