.item {
    transition: transform 0.2s ease-in-out;
    transform: scale(1);
    z-index: 1;
    position: relative;
    height: 100%;
}

.item:hover {
    transform: scale(1.2);
    z-index: 10;
    border: 1px solid light-dark(white, black)
}

.popup {
    height: auto;
    width: clamp(220px, 25vw, 700px);
}

.searchRes {
    transition: 100ms;
}

.searchRes:hover {
    outline: 3px solid var(--mantine-color-dark-3);
    outline-offset: 3px;
}

.userItem {
    transition: 100ms;
    cursor: pointer;
}

.userItem:hover {
    opacity: 80%;
}

.convo {
    transition: 100ms;
    cursor: pointer;
}

.convo:not(.activeConvo):hover {
    background-color: light-dark(var(--mantine-color-beige-2), var(--mantine-color-dark-8)) !important;
}

.activeConvo {
    background-color: light-dark(var(--mantine-color-blue-4), var(--mantine-color-blue-9)) !important;
    cursor: default;
}
