.searchReset:hover {
    border-radius: 10px;
    background-color: black;
}

.stepper {
    background-color: gray;
    border-radius: 20px;
    padding: 5px;
}

.stepper:hover {
    cursor: pointer;
}

.edit {
    cursor: pointer;
    transition: 100ms;
}

.edit:hover {
    transform: scale(1.1);
}
