.navbarLinks {
    padding-right: 5px;
    text-decoration: none;
    transition: color 0.2s;
    color: light-dark(var(--mantine-color-dark-6), rgb(171, 171, 171));
    font-weight: 500;
}

.navbarLinks:hover {
    color: light-dark(var(--mantine-color-gray-6), #8fc2ff);
}

.searchCancel:hover {
    transform: scale(1.05);
    transition: 0.1s;
}
